<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="~{user/fragments::head}">

<body>
<!--<header th:replace="~{user/fragments::topbar}">-->
<!--</header>-->
<header class="header-area header-style-5">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                            <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop
                                    now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                        class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li><a href="#"><img src="/user/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                    <li><a href="#"><img src="/user/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                    <li><a href="#"><img src="/user/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                </ul>
                            </li>
                            <li>
                                <i class="fi-rs-user"></i><a th:href="@{/logout}">Log out </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a href="index.html"><img src="/user/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a class="active" th:href="@{/user_home}">Home</a>

                            </li>
                            <li>
                                <a href="#" th:href="@{/user_home/aboutus}">About</a>
                            </li>
                            <li><a th:href="@{/user_home}">Shop</a>
                            </li>
                            <li><a href="#">My Account</a>
                                <ul class="sub-menu">
                                    <li><a href="#" th:href="@{/user_home/user/view}">My Profile</a></li>
                                    <li><a href="#" th:href="@{/user_home/order}">My Orders</a></li>
                                    <!--                                        <li><a href="#" th:href="@{/user_home/address/add}">Add Address</a></li>-->
                                    <li><a href="#" th:href="@{/user_home/address/all}">My Addresses</a></li>
                                    <!--                                        <li><a href="#" th:href="@{/user_home/user/changePassword}">Change Password</a></li>-->
                                    <li><a href="#" th:href="@{/user_home/referral}">Share Referral Link</a></li>
                                    <li><a href="#" th:href="@{/user_home/wallet}">My Wallet</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" th:href="@{/user_home/contact}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-action-right">
                    <div class="search-style-2">
                        <form th:action = "@{/user_home/product/search}" method="get">
                            <input type="text" placeholder="Search for items..." name="name" class="form-control">
                        </form>
                    </div>
                    <div class="header-action-2">

                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="shop-cart.html"  th:href="@{/user_home/shoppingCart}">
                                <img alt="Evara" src="/user/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue" th:if="${session.cartItemCount}">[(${session.cartItemCount})]</span>
                            </a>

                        </div>
                        <div class="header-action-icon d-block d-lg-none">
                            <div class="burger-icon">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/user_home}" rel="nofollow">Home</a>
                <span></span> Contact
            </div>
        </div>
    </div>

    <div>
        <br>
        <br>
        <h1 class="text-center mb-50">Contact Us</h1>
    </div>
    <div class="container col-lg-8 mb-50">
        <p><h2>Welcome to our baby's clothing store- <a th:href="@{/user_home}"><span class="brand-name">My Baby Store</span></a>!</h2></p>


        <div class="container mb-25">
            <p>Feel free to reach out to us for any inquiries or assistance.</p>
            <div class="contact-info">
                <p>Email: <a href="mailto:info@mybabystoredb.com">info@mybabystoredb.com</a></p>
                <p>Phone: <a href="tel:+919645224493">+91 9645224493</a></p>
                <p>Address: 123 Thrissur, Kerala</p>
            </div>
        </div>

    </div>

</main>



<!--<div th:replace = "~{user/fragments::script}"></div>-->
</body>

</html>